@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --grayish-blue-rgba: 132, 134, 169, 1;
  --soft-red-rgba: 251, 96, 135, 1;
  --dark-desatured-blue-rgba: 54, 54, 80, 0.8;
  --very-dark-blue-rgba: 30, 31, 41, 0.8;
  --very-dark-rgba: 25, 26, 36, 0.8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --grayish-blue-rgba: 132, 134, 169, 1;
    --soft-red-rgba: 251, 96, 135, 1;
    --dark-desatured-blue-rgba: 54, 54, 80, 0.8;
    --very-dark-blue-rgba: 30, 31, 41, 0.8;
    --very-dark-rgba: 25, 26, 36, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url(../public/bg-stars.svg);
  background-color: rgb(var(--dark-desatured-blue-rgba));
  background-size: cover;
}
.text-white {
  color: rgb(var(--primary));
}
.text-red {
  color: rgb(var(--soft-red-rgba));
}
.text-gray {
  color: rgb(var(--grayish-blue-rgba));
}
.bg-dark {
  background-color: rgb(var(--very-dark-rgba));
}
.bg-dark-blue {
  background-color: rgb(var(--very-dark-blue-rgba));
}

.text {
  font-size: 50px;
  z-index: 1;
}
.clock {
  background-image: url(../public/pattern-hills.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  z-index: -3;
}
.tracking-wide-2 {
  letter-spacing: 3px;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.top, .bottom {
  height: .75em;
  width: 100%;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
  border-radius: 10px;
}

.top {
  background-color: rgb(var(--very-dark-blue-rgba));
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom {
  background-color: rgb(var(--very-dark-blue-rgba));
  display: flex;
  align-items: flex-end;
}

.flip-card .top-flip {
  animation: flip-top 800ms ease-in infinite alternate;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 85px;
  animation: flip-bottom 800ms ease-out 800ms infinite alternate;
  transform-origin: top;
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
